/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Grid breakpoints */
.paginationDot {
  background: #000000;
}

.paginationDot--isActive {
  border: 0.5px solid #000000;
  background: white;
}

.paginationDotsContainer {
  margin-top: 36px;
}