.product-identifier__label {
  display: none;
}

.product-identifier__value {
  text-align: end;
  color: rgba(146, 146, 146, 0.48);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.product-identifier__separator {
  display: none;
}
